{% extends 'admin/base.html' %}
{% block content %}
    <div style="height: calc(70vh); width: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <h1 style="font-weight: bold;">Seleccionar archivo csv para cargar nuestra base de datos.</h1>
        <form draggable="true" id="formulario" action="." method="POST" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
            <button 
                style="width: 100%  ;background-color: #417690; color: white; border-radius: 5px; border: none; padding: 15px;" 
                type="submit"
            >
            UPLOAD FILE
            </button>
        </form>
    </div>
{% endblock %}